/**** Overwrite fonts ****/
body {
  font-family: "Darker Grotesque", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.btn,
.label,
.pager,
.pagination,
#intro .item,
.panel.sidebar-menu ul.nav.category-menu li a,
.ribbon .theribbon,
#blog-post .comment .reply,
#productMain .sizes a,
.breadcrumb,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Darker Grotesque", Helvetica, Arial, sans-serif;
}

/**** Overwrite navbar and top ****/
.navbar-default {
  background-color: var(--primary-accent);
}

.navbar ul.nav > li > a {
  font-size: 16px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: var(--button-border);
  background-color: #fff;
}

@media (max-width: 767px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin: 0 10px;
  }
}

@media (max-width: 990px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin: 0 5px;
  }
}

.navbar-brand {
  padding: 15px;
}

#top p {
  font-size: unset;
}

/**** Breadcrumbs ****/
#heading-breadcrumbs {
  background: url('../img/pattern-breadcrumb2.png');
  padding: 5px 0;
  margin-bottom: 10px;
}
#heading-breadcrumbs h1 {
  display: inline-block;
  background-color: #fffdfc;
}

/**** MISC ****/
.rounded-circle {
  border-radius: 50%;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.avatar {
  max-width: 165px;
}

section {
  margin-bottom: unset;
}

@media (min-width: 992px) {
  .main-section-height {
    height: calc(100vh - 160px);
  }
}

.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

/**** Margins ****/
.margin-left-10 {
  margin-left: 10px;
}

/***** Hero *****/
.home-hero {
  background: var(--primary-accent);
}

.home-hero h1,
.home-hero h2,
.home-hero h3,
.home-hero p,
.home-hero ul {
  color: #fff;
}

.home-hero h1 {
  font-weight: 700;
  font-size: 46px;
  letter-spacing: 0.08em;
}

.home-hero h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.08em;
}

.home-hero ul,
.home-hero p {
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  letter-spacing: 0.08em;
}

.home-hero ul {
  padding-top: 20px;
}

@media (max-width: 767px) {
  .home-hero {
    text-align: center !important;
  }
  .home-hero .img-responsive {
    display: block;
    margin: auto;
  }
}

@media (max-width: 991px) {
  .home-hero h1 {
    font-size: 36px;
  }
  .home-hero ul,
  .home-hero p {
    font-size: 18px;
  }
  .home-hero ul {
    padding-top: unset;
  }
}

@media (min-width: 992px) {
  .home-hero .right {
    text-align: right;
  }
}

@media (max-width: 1200px) {
  .home-hero h1 {
    font-size: 32px;
  }
}
@media (min-width: 1250px) {
  .home-hero {
    min-height: calc(100vh - 67px);
    display: flex;
    align-items: flex-end;
  }
  .home-hero ul {
    font-size: 22px;
  }
  .home-hero .img-responsive {
    max-width: unset;
    height: unset;
  }
}

/***** Footer *****/
#footer h4,
#footer {
  font-size: 16px;
}

@media (max-width: 767px) {
  #footer .container {
    text-align: center;
    text-decoration: none;
  }
}

#footer {
  padding: 20px 0;
}

#footer .social {
  text-align: center;
  padding: 15px 0;
}

#footer .social a {
  color: #999999;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
}

#footer .social a:hover {
  color: #fff;
  background: var(--primary-accent);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#copyright {
  padding: 10px 0;
}
