{{ if default true .Site.Params.hero.enable }}
<section>
  <div class="home-hero">
    <div class="container">
      <div class="homepage">
        <div class="item">
          <div class="row">
            <div class="col-sm-7 right">
                <h1>Hello, my name is Vanessa and I'm a cat lover.</h1>
                <ul class="list-style-none">
                  <li>Are you travelling and need someone to look after your cat?</li>
                  <li>Look no further! I'm here to help.</li>
                  <li>I provide cat sitting services in the Lisbon and Odivelas area.</li>
                  <li>Let's talk!</li>
                </ul>
            </div>
            <div class="col-sm-5">
                <img class="img-responsive" src="img/hero/cat-lady-hero.png" alt="Cartoon of a girl holding a red cat">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
